<!DOCTYPE html>
<html lang="en">
<head>
    <link href="http://fonts.cdnfonts.com/css/roboto" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/styles/edit.css}">
    <meta charset="UTF-8">
    <title>Édition/Suppression</title>
</head>

<body>
<div id="divTitle">
    <h1 id="title1" th:inline="text">Modification de la commune : [[${currentVille.nomCommune}]]</h1>
</div>
<form id="addForm" method="post" th:object="${currentVille}">
    <label for="codeCommuneINSEE">Code commune :
        <input th:field="*{codeCommuneINSEE}" name="codeCommuneINSEE" id="codeCommuneINSEE" type="text" th:value="${currentVille.codeCommuneINSEE}">
    </label >
    <label for="nomCommune"> Nom commune :
        <input th:field="*{nomCommune}" name="nomCommune" id="nomCommune" type="text" th:value="${currentVille.nomCommune}">
    </label>
    <label for="codePostal">Code Postal :
        <input th:field="*{codePostal}" name="codePostal" id="codePostal" type="text" th:value="${currentVille.codePostal}">
    </label>
    <label for="libelleAcheminement">Libellé d'acheminement :
        <input th:field="*{libelleAcheminement}" name="libelleAcheminement" id="libelleAcheminement" type="text" th:value="${currentVille.libelleAcheminement}">
    </label>
    <label for="ligne5">Ligne 5 :
        <input th:field="*{ligne5}" name="ligne5" id="ligne5" type="text" th:value="${currentVille.ligne5}">
    </label>
    <label for="latitude">Latitude :
        <input th:field="*{latitude}" name="latitude" id="latitude" type="text" th:value="${currentVille.latitude}">
    </label>
    <label for="longitude">Longitude :
        <input th:field="*{longitude}" name="longitude" id="longitude" type="text" th:value="${currentVille.longitude}">
    </label>

    <button type="submit">Sauvegarder</button>
    <button type="button" onclick="deleteCommune()">Supprimer</button>

</form>
</body>

<script>
    function saveCurrentCodeCommune(){
        document.getElementById('mainForm');
        form.onsubmit = function (e) {
            e.preventDefault();
            fetch(form.action, {
                method: "post",
                body: new FormData(form)
            });
        }
    }

    function deleteCommune(){

    }
</script>


</html>