<!DOCTYPE html>
<html lang="en">
<head>
    <link href="http://fonts.cdnfonts.com/css/roboto" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/styles/global.css}">
    <meta charset="UTF-8">
    <title>Calcul de distance</title>
</head>
<body>
    <div class="pageContainer">
        <div class="listeContainer containerStyle">
            <div th:each="ville: ${villes}" class="villeContainer">
                <div class="ville" th:text="${ville.nomCommune}" th:attr="onclick=${'selectVille(&quot;'+ville.codeCommuneINSEE+'&quot;,0)'}"></div>
            </div>
        </div>
        <div class="currentSelectionContainer">
            <div id="ville0" class="villeDisplay containerStyle">

            </div>
            <div id="ville1" class="villeDisplay containerStyle">

            </div>
            <div class="distanceContainer containerStyle">
                <div id="distance" class="distance">
                    Distance : ?
                </div>
            </div>
        </div>
        <div class="listeContainer containerStyle">
            <div th:each="ville: ${villes}" class="villeContainer">
                <div class="ville" th:text="${ville.nomCommune}" th:attr="onclick=${'selectVille(&quot;'+ville.codeCommuneINSEE+'&quot;,1)'}"></div>
            </div>
        </div>
    </div>
</body>
<script>
    var villesSelect = [];
    function selectVille(codeCommune, index) {
        loadVille(codeCommune, index);
    }

    function loadVille(codeCommune, index){
        console.log(codeCommune)
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                // Typical action to be performed when the document is ready:
                document.getElementById("ville"+index).innerHTML = "";
                const parsed = JSON.parse(xhttp.responseText);
                villesSelect[index] = parsed;
                for (let prop in parsed) {
                    document.getElementById("ville"+index).innerHTML =
                        document.getElementById("ville"+index).innerHTML +
                        "<div class='prop'><div class='propName'>" + prop + ": </div><div class='propValue'>" + parsed[prop] + "</div></div>";
                    console.log(prop)
                    console.log(parsed)
                }
                loadWeather(parsed.latitude, parsed.longitude, index);
                document.getElementById("ville"+index).innerHTML = document.getElementById("ville"+index).innerHTML +
                    "<div class='editSingleCommune'>" +
                    "<button id='editButton' class='editButton' type='submit' onClick='redirectToEdit(&quot;".concat(codeCommune) + "&quot;)'>Edit</button>" +
                    "</div>";

                if(villesSelect[0] && villesSelect[1]){
                    calculerDistance();
                }
            }
        };
        xhttp.open("GET", "http://localhost:8081/ville?codeCommuneINSEE=".concat(codeCommune.toString()), true);
        xhttp.send();
    }

    function redirectToEdit(codeCommune){
        window.location.href = "http://localhost:8080/edit?codeCommuneINSEE=" + codeCommune
    }

    function calculerDistance(){
        //https://www.geeksforgeeks.org/program-distance-two-points-earth/#:~:text=For%20this%20divide%20the%20values,is%20the%20radius%20of%20Earth.
        lon1 =  villesSelect[0].longitude * Math.PI / 180;
        lon2 = villesSelect[1].longitude * Math.PI / 180;
        lat1 = villesSelect[0].latitude * Math.PI / 180;
        lat2 = villesSelect[1].latitude * Math.PI / 180;
        // Haversine formula
        let dlon = lon2 - lon1;
        let dlat = lat2 - lat1;
        let a = Math.pow(Math.sin(dlat / 2), 2)
            + Math.cos(lat1) * Math.cos(lat2)
            * Math.pow(Math.sin(dlon / 2),2);

        let c = 2 * Math.asin(Math.sqrt(a));

        // Radius of earth in kilometers. Use 3956
        // for miles
        let r = 6371;

        const distance = c * r;
        document.getElementById("distance").innerHTML = "distance: " + distance +" km";
    }

    function loadWeather(lat, lon, index){
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                const parsed = JSON.parse(xhttp.responseText);
                // Typical action to be performed when the document is ready:
                document.getElementById("ville"+index).innerHTML =
                    document.getElementById("ville"+index).innerHTML + "<div class='prop'><div class='propName'>Température: </div><div class='propValue'>" + parsed.main.temp + "°C</div></div>";
            }
        };
        xhttp.open("GET", "https://api.openweathermap.org/data/2.5/weather?appid=502b658dae148ebfa43b6bda2b1efd9e&lat=" + lat + "&lon=" + lon + "4&units=metric", true);
        xhttp.send();
    }
</script>
</html>