<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calcul de distance</title>
</head>
<body>
    <div class="listeContainer">
        <div th:each="ville: ${villes}" class="villeContainer">
            <div class="ville" th:text="${ville.nomCommune}" th:attr="onclick=${'selectVille('+ville.codeCommuneINSEE+',0)'}"></div>
        </div>
    </div>    <div class="listeContainer">
        <div th:each="ville: ${villes}" class="villeContainer">
            <div class="ville" th:text="${ville.nomCommune}" th:attr="onclick=${'selectVille('+ville.codeCommuneINSEE+',1)'}"></div>
        </div>
    </div>
</body>
<script>
    var villesSelectID = [];
    var villesSelectNom = [];
    function selectVille(codeCommune, index) {
        villesSelectID[index] = codeCommune;
        villesSelectNom[index] = codeCommune;
    }
</script>
</html>